<div>
    <div data-ng-show="containerCtrl.isBusy" class="splash-screen">
        <div sep-spinner="containerCtrl.spinnerOptions"></div>
    </div>
    <navbar></navbar>
    <div class="container">
        <div ui-view></div>
    </div>
</div>
