<div class="modal-header">
    <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body" id="modal-body">
    <div style="height:300px;overflow-y:scroll">
        {{errorDialogCtrl.text}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button">OK</button>
    <button class="btn btn-warning" type="button">Cancel</button>
</div>