/*@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}
body {
    font-family: roboto !important;
}*/
.no-lm {
    margin-left: 0;
}
.no-rm {
    margin-right: 0;
}
.no-m {
    margin: 0;
}
.no-tm {
    margin-top: 0;
}
.no-bm {
    margin-bottom: 0;
}
.no-p {
    padding: 0;
}
.no-tp {
    padding-top: 0;
}
.no-bp {
    padding-bottom: 0;
}
.no-lp {
    padding-left: 0;
}
.no-rp {
    padding-right: 0;
}

.splash-screen {
    background-color: #333;
    opacity: .9;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:9999;
    transition: opacity 0.3s linear;
}
